body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ddd;
  color: #242424;
  font-size: 16px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

a {
  color: #7A9ED4;
  text-decoration: none;
}

#header, #body {
  background: white;
}

#body {
  height: 250px;
}

#footer {
  background-color: #1D253E;
  color: white;
  height: fit-content;
  font-size: 12px;
}

#footer a {
  color: #7A9ED4;
  text-decoration: none;
}

#logo-mihape {
  width: 250px;
  display: block;
}

.highlight {
  font-size: 18px;
  color: #1d1d1d;
}

.btn {
  padding: 12px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #1D253E;
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
}

.btn.btn-primary {
  background: #1D253E;
  color: white;
}

.btn:hover {
  background: #1D253E;
  color: white;
}

.btn.btn-primary:hover {
  background: transparent;
  color: #1D253E;
}

.center {
  text-align: center;
}

.title {
  font-size: 18px;
}

.subtitle {
  font-size: 12px;
}

.small {
  line-height: .5;
  font-size: 14px
}

.warn {
  color: #b31315;
}

.table-data {
  width: 100%
}

.row-table-data:nth-child(odd) {
  background-color: #efefef;
}

.row-table-data td, .row-table-data th {
  line-height: 2;
}